<form action="">
    <div class="mb-3">
        <label for="comment" class="form-label">Comments</label>
        <textarea class="form-control" id="comment" name="comment"></textarea>
    </div>
</form>