<%- include('partials/header') -%>


<!-- Hero Banner -->
<section class="bg-white">
    <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
      <div class="mr-auto place-self-center lg:col-span-6">
        <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl text-green-500 dark:text-green-900">Discover and Exchange Global Recipes</h1>
        <p class="max-w-2xl mb-6 font-light text-black lg:mb-8 md:text-lg lg:text-xl dark:text-black">This interactive platform provides users with the opportunity to explore a wide range of recipes, from traditional dishes to innovative creations, ensuring a culinary adventure that transcends borders.</p>
        <a href="/signup" class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-black border border-gray-300 rounded-lg bg-yellow-500 hover:bg-yellow-600 focus:ring-4 focus:ring-yellow-300 dark:bg-yellow-500 dark:text-white dark:border-transparent dark:hover:bg-yellow-600 dark:focus:ring-yellow-300">
          Sign Up
          <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
          </svg>
        </a>
        <a href="/login" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-black border border-green-300 rounded-lg hover:bg-green-100 focus:ring-4 focus:ring-green-100 dark:bg-green-700 dark:text-white dark:border-transparent dark:hover:bg-green-800 dark:focus:ring-green-800">
          Login
        </a> 
      </div>
      <div class="lg:mt-0 lg:col-span-6 lg:flex">
        <img src="https://images.ctfassets.net/grb5fvwhwnyo/1sJpRsfp1RJI3AASMiOS1h/d5cca0a1c5d78df3052659f2b56a1225/SEO-Food-Fresh-Groceries.png" alt="mockup" class="object-cover object-center w-full h-full">
      </div>
    </div>
  </section>

  <!-- Section 2: Latest Features -->
  <section class="bg-yellow-50 py-12">
    <div class="max-w-screen-xl px-4 mx-auto">
      <h2 class="text-3xl font-extrabold text-center text-gray-900">Key Features</h2>
      <div class="grid grid-cols-1 gap-8 mt-8 md:grid-cols-2 lg:grid-cols-3">
        <!-- Feature 1 -->
        <div class="p-4 bg-white rounded-lg shadow-md">
          <div class="flex items-center justify-center w-16 h-16 mx-auto bg-green-300 rounded-full">
            <svg class="w-8 h-8 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
            </svg>
          </div>
          <h3 class="mt-4 text-xl font-semibold text-gray-900">Create Recipes</h3>
          <p class="mt-2 text-gray-600">Easily create and share your favorite recipes with our user-friendly recipe creator.</p>
        </div>
        
        <!-- Feature 2 -->
        <div class="p-4 bg-white rounded-lg shadow-md">
          <div class="flex items-center justify-center w-16 h-16 mx-auto bg-yellow-300 rounded-full">
            <svg class="w-8 h-8 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
            </svg>
          </div>
          <h3 class="mt-4 text-xl font-semibold text-gray-900">Discover Recipes</h3>
          <p class="mt-2 text-gray-600">Explore a wide range of recipes shared by other users and find inspiration for your next meal.</p>
        </div>
        
        <!-- Feature 3 -->
        <div class="p-4 bg-white rounded-lg shadow-md">
          <div class="flex items-center justify-center w-16 h-16 mx-auto bg-red-300 rounded-full">
            <svg class="w-8 h-8 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"></path>
            </svg>
          </div>
          <h3 class="mt-4 text-xl font-semibold text-gray-900">Connect with Food Enthusiasts</h3>
          <p class="mt-2 text-gray-600">Join a vibrant community of food lovers, share your experiences, and engage with others who share your passion.</p>
        </div>
        
       
      </div>
    </div>
  </section>

  <!-- section 3 : Featured Chefs-->
  <section class="bg-white py-12">
    <div class="max-w-screen-xl px-4 mx-auto">
      <h2 class="text-3xl font-extrabold text-center text-gray-900">Featured Chefs</h2>
      <div class="grid grid-cols-1 gap-6 mt-8 md:grid-cols-2 lg:grid-cols-3">
        <!-- Chef Card 1 -->
        <div class="flex flex-col items-center justify-center p-6 bg-green-300 rounded-lg shadow-md">
          <img src="/imgs/alex-starnes-WYE2UhXsU1Y-unsplash.jpg" alt="Chef Ella" class="w-32 h-32 object-cover border-solid border-2 border-green-800 rounded-full">
          <h3 class="mt-4 text-xl font-semibold text-gray-900">Chef Ella</h3>
          <p class="mt-2 text-gray-900">Continental</p>
          <button type="button" class="text-green-400 mt-2 hover:text-white border border-green-400 hover:bg-green-500 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-xl text-sm px-4 py-2 text-center mr-2 mb-2 dark:border-green-800 dark:text-green-800 dark:hover:text-white dark:hover:bg-green-400 dark:focus:ring-green-900"><a href="#">View Profile</a></button>
        </div>
        
        <!-- Chef Card 2 -->
        <div class="flex flex-col items-center justify-center p-6 bg-yellow-300 rounded-lg shadow-md">
          <img src="/imgs/alex-starnes-WYE2UhXsU1Y-unsplash.jpg" alt="Chef Joe" class="w-32 h-32 object-cover border-solid border-2 border-yellow-800 rounded-full">
          <h3 class="mt-4 text-xl font-semibold text-gray-900">Chef Joe</h3>
          <p class="mt-2 text-gray-700">Specialty: Pasta</p>
          <button type="button" class="text-yellow-400 mt-2 hover:text-white border border-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-xl text-sm px-4 py-2 text-center mr-2 mb-2 dark:border-yellow-800 dark:text-yellow-800 dark:hover:text-white dark:hover:bg-yellow-400 dark:focus:ring-yellow-900"><a href="#">View Profile</a></button>
        </div>
        
        <!-- Chef Card 3 -->
        <div class="flex flex-col items-center justify-center p-6 bg-red-300 rounded-lg shadow-md">
          <img src="/imgs/alex-starnes-WYE2UhXsU1Y-unsplash.jpg" alt="Chef Mika" class="w-32 h-32 object-cover border-solid border-2 border-red-800 rounded-full">
          <h3 class="mt-4 text-xl font-semibold text-gray-900">Chef Mika</h3>
          <p class="mt-2 text-gray-700">Specialty: Pastry</p>
          <button type="button" class="text-red-400 mt-2 hover:text-white border border-red-400 hover:bg-red-500 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-xl text-sm px-4 py-2 text-center mr-2 mb-2 dark:border-red-800 dark:text-red-800 dark:hover:text-white dark:hover:bg-red-400 dark:focus:ring-red-900"><a href="#">View Profile</a></button>
          
        </div>
        
        
      </div>
    </div>
  </section>

  
 

    

<%- include('partials/footer') -%>