<%- include('partials/header') -%>
    <main class="image image2">
        
            <section >
                <% if (locals.messages.errors) { %>
                    <% messages.errors.forEach( el => { %>
                        <div class="alert alert-danger"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <% if (locals.messages.info) { %>
                    <% messages.info.forEach( el => { %>
                        <div class="alert alert-info"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <div class="login mt-12 m-auto w-full max-w-sm p-4 bg-gradient-to-bl from-yellow-300 via-green-400 sm:p-6 md:p-8">

                  <form class="space-y-4" action="/signup" method="POST">
                    <h5 class="text-xl font-medium text-green-900">Sign up to start</h5>
                    <div>
                        <label for="userName" class="block mb-2 text-sm font-medium text-black" >User Name</label>
                        <input 
                        type="text" 
                        class="bg-white bg-opacity-40 border border-white text-white text-sm rounded-lg focus:ring-2 focus:ring-white block w-full p-2.5" 
                        placeholder="Username" required
                        id="userName" 
                        name="userName">
                      </div>
                    <div>
                      <label for="exampleInputEmail1" class="block mb-2 text-sm font-medium text-black">Email address</label>
                      <input 
                      type="email" 
                      class="bg-white bg-opacity-40 border border-white text-white text-sm rounded-lg focus:ring-2 focus:ring-white block w-full p-2.5" 
                      placeholder="Type in your email" required
                      id="exampleInputEmail1" 
                      aria-describedby="emailHelp" 
                      name="email">
                      <span id="emailHelp" class="text-sm text-green-800">We'll never share your email with anyone else.</span>
                    </div>
                    <div>
                      <label for="password" class="block mb-2 text-sm font-medium text-black">Password</label>
                      <input 
                      type="password" 
                      class="bg-white bg-opacity-40 border border-white text-white text-sm rounded-lg focus:ring-2 focus:ring-white block w-full p-2.5"
                      placeholder="********" required 
                      id="password" 
                      name="password">
                    </div>
                    <div>
                        <label for="confirmPassword" class="block mb-2 text-sm font-medium text-black">Confirm Password</label>
                        <input 
                        type="password" 
                        class="bg-white bg-opacity-40 border border-white text-white text-sm rounded-lg focus:ring-2 focus:ring-white block w-full p-2.5" 
                        placeholder="*******" required 
                        id="confirmPassword" 
                        name="confirmPassword">
                      </div>
                    <button type="submit" class="w-full text-white bg-green-700 hover:bg-green-600 focus:ring-2 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Create Account</button>
                  </form>

                </div>
                
            </section>
        
    </main>

<%- include('partials/footer') -%>